mixin button(options = '', text = 'default')
  -
    const flags = ['disabled', 'loading']
    const arr = options.split(' ')
    const classItems = arr.map(item => {
      if (flags.includes(item)) return item
      return item ? `btn-${item}` : ''
    })
    let classes = classItems.join( ' ' )

    classes = classes === '' || classes === ' ' ? 'btn' : `btn ${classes}`

  //-

    let classes = `${cls} ${lg} ${link} ${sm} ${success}`.replace(/^ +| +$|( ) +/g,"$1")
    
  
  button(class=classes)= text