mixin btn(options = '', text = '')
  -
    let tag = 'btn'
    const flags = ['disabled', 'loading', 'circle']
    const arr = options.split(' ')
    const classItems = arr.map(item => {
      if (flags.includes(item)) return item
      return item ? `btn-${item}` : ''
    })
    let classes = classItems.join( ' ' )

  if (classes === 'btn-group')
    - classes = 'btn-group btn-group-block'
    div(class=classes)
      block
  else 
    - classes = classes === '' || classes === ' ' ? 'btn' : `btn ${classes}`
    button(class=classes)= text
      block

  //- #{tag}(class=classes)= text