mixin input(idName = '', types = 'text', nameLabel = '', placeholder = '')
  label.form-label(for=idName)= nameLabel
  input.form-input(type=types id=idName placeholder=placeholder =rest)

mixin textarea(idName = '', rows = "3", nameLabel = '', placeholder = '')
  label.form-label(for=idName)= nameLabel
  textarea.form-input(id=idName placeholder=placeholder rows=rows)